ul.pills {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1rem;

  li {
    @include font-fira();
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    background-color: fade-out($color: $accent-dark, $amount: 0.3);
    border-radius: 2rem;
    width: fit-content;
    z-index: 5;
  }

  &.pills-large {
    li {
      padding: 1rem 2rem;
      background-color: fade-out($color: $secondary, $amount: 0.3);
      color: $primary;
      border-radius: 2rem;
      font-size: 1.1rem;
      width: fit-content;
    }
  }
}

@media only screen and (max-width: $media_sm) {
  ul.pills {
    flex-direction: column;
  }
}
