.heading {
  margin-top: 10rem;
  z-index: 100;

  #name-heading {
    font-size: 10rem;
    font-weight: 600;
    margin-top: -3rem;
    z-index: 5;
  }

  #name-subheading {
    font-size: 5rem;
    z-index: 5;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.blob {
  position: absolute;
  z-index: 1;
}

#blob1 {
  top: -40%;
  left: -10%;
}

#blob2 {
  bottom: -40%;
  right: -10%;
}

section#about {
  p {
    max-width: 50%;
  }
}

@media only screen and (max-width: $media_xl) {
  #blob1 {
    left: -30%;
  }
  #blob2 {
    right: -40%;
  }
  section#about {
    p {
      max-width: 75%;
    }
  }
}

@media only screen and (max-width: $media_lg) {
  section#home {
    overflow: hidden;
  }
  section#about {
    p {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: $media_sm) {
  .heading {
    margin-top: 5rem;
    #name-heading {
      font-size: 3.3rem;
      margin-top: 0;
    }
    #name-subheading {
      font-size: 2rem;
    }
  }

  .grid {
    grid-template-columns: 1fr;
  }
  #blob1 {
    top: -20%;
    left: -30%;
  }
  #blob2 {
    bottom: -10%;
    right: -30%;
  }
}
