#name-heading {
  font-size: 10rem;
  font-weight: 600;
  margin-top: -3rem;
}

#name-subheading {
  font-size: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@media only screen and (max-width: $media_sm) {
  #name-heading {
    font-size: 3.3rem;
    margin-top: 0;
  }
  #name-subheading {
    font-size: 2rem;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
